* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
}
.title h1 {
  font-size: 36px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  padding: 35px;

  /* Stryling the text and giving it gradiant */
  color: #ffffff;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);

  /* Make sure text is infront of background images */
  display: block;
  position: relative;
  z-index: 3;
}
.title h2 {
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  /* Stryling the text and giving it gradiant */
  color: #ffffff;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);

  /* Make sure text is infront of background images */
  display: block;
  position: relative;
  z-index: 3;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

.stars,
.twinkling,
.clouds {
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: #000 url(stars.png) repeat top center;
  z-index: 0;
}

.twinkling {
  background: transparent url(twinkling.png) repeat top center;
  z-index: 1;
  animation: move-twink-back 200s linear infinite;
}

.clouds {
  background: transparent url(clouds.png) repeat top center;
  z-index: 2;
  opacity: 1.5;
  animation: move-clouds-back 200s linear infinite;
}

.section {
  /* margin-top: auto;
  width: 100%;
  height: 100%; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  background: #000 url(stars.png) repeat top center;
}

div.scrollMenu {
  background-color: transparent;
  overflow: scroll;
  white-space: nowrap;
  display: flex;
  height: 80vh;
}

.text {
  color: white;
  display: block;
  position: relative;
  z-index: 3;
  flex-direction: column;
}

div.scrollMenu div {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;

}

@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

* {
  box-sizing: border-box;
}


html, body, #root {
  position: relative;
  margin: 0;
  padding: 0;
  outline: none;
  width: 100vw;
  height: 100vh;
}

body {
  display: grid;
  place-items: center;
}

.page-content {
  margin: 0 auto;
  overflow: auto;
  scroll-snap-type: x mandatory;
  width: 100vw;
}

.page-content::-webkit-scrollbar {
  display: none;
}

@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  width: 100%;
  height:100%;
  text-align: center;
  color: whitesmoke;
  background-color: transparent;
  scroll-snap-align: start;
}
.cardSun {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  width: 20%;
  text-align: center;
  color: whitesmoke;
  background-color: transparent;
}
@media (min-width: 600px) {
  .card {
    height: 600px;
  }
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  /* font-family: var(--font-serif); */
  font-size: 1.125rem;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
  border-radius: 15px;
}
.btn:hover {
  background-color: #0d0d0d;
}
.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:hover,
  .card:focus-within {
    align-items: center;
  }
  .card:hover:before,
  .card:focus-within:before {
    transform: translateX(-4%);
  }
  .card:hover:after,
  .card:focus-within:after {
    transform: translateX(-50%);
  }
  .card:hover .content,
  .card:focus-within .content {
    transform: translateX(0);
  }
  .card:hover .content > *:not(.title),
  .card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateX(0);
    transition-delay: calc(var(--d) / 8);
  }
}

.row{
  display: flex;
}
.column{
  display: flex;
  flex-direction: column;
  color: white;
}

.example{
  width: 100vw;
  height: 100vh;
  background: white;
  display: flex;
  padding-top: 50px;
  justify-content: center;
  align-items: center;
}

.example2{
  width: 100vw;
  height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}


.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  z-index: 3;
}
.card {
  display: inline-block;
}

.ardak2 {
  overflow: scroll;
  width: 100vw;

}

.depth-line {
  position: sticky;
  bottom: 30%;
  width: 100%;
  border-bottom: 1px dashed hsla(0,0%,100%,.2);
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  transform: translateY(-50%);
  color: #fff;
  z-index: 3;
  /* font-family: "Roboto",sans-serif; */
  transition: opacity .3s ease-in-out;
  top: 507px;
}

/* PAINT: YOUR OWN PLANET */
.parentTemp {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 3;
}

.temp {
  color: white;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.5;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 40vw;
  margin-top: 50px;
  justify-content: center;
  align-items: center;

}

.title2 p {
  color: black;
  font-size: 40px;
  font-weight: 100;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 32px;
}
.temp span {
  font-size: 40px;
  color: black;
}

.message {
  background-color: pink;
  color: white;
  display: block;
  font-weight: 900;
  overflow: hidden;
  position: absolute;
  padding-left: 0.5rem;
  top: 0.2rem;
  left: 188px;
  animation: openclose 5s ease-in-out infinite;
}

@keyframes openclose {
  0% {
    top: 0.2rem;
    width: 0;
  }
  5% {
    width: 0;
  }
  15% {
    width: 500px;
  }
  30% {
    top: 0.2rem;
    width: 500px;
  }
  33% {
    top: 0.2rem;
    width: 0;
  }
  35% {
    top: 0.2rem;
    width: 0;
  }
  38% {
    top: -4.5rem;
    
  }
  48% {
    top: -4.5rem;
    width: 500px;
  }
  62% {
    top: -4.5rem;
    width: 700px;
  }
  66% {
    top: -4.5rem;
    width: 0;
    text-indent: 0;
  }
  71% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  86% {
    top: -9rem;
    width: 500px;
  }
  95% {
    top: -9rem;
    width: 500px;
  }
  98% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}

/* CARDS with PLANETS */

.cards-stack {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 15px;
  padding: 64px;
}
.cards-stack2 {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 15px;
  justify-content: center;
}
.details-desc {
  font-size: 16px;
}
.carD {
  overflow: hidden;
  box-shadow: rgba(201, 201, 201, 0.3) 0px 5px 15px 0px;
  display: block;
  transition: all 0.3s ease-out;
  border-radius: 18px;
  height: 200px;
  width: 176px;
  justify-content: center;
  align-items: center;
  border-radius: 18px; 
  text-decoration: none; 
  color: black;
}
.carD2 {
  overflow: hidden;
  box-shadow: rgba(201, 201, 201, 0.3) 0px 5px 15px 0px;
  display: block;
  transition: all 0.3s ease-out;
  border-radius: 18px;
  height: 200px;
  width: 450px;
}
.carD:hover {
  transform: scale(1.01);
  border: 1px solid rgb(36, 55, 73);
}
.carD2:hover {
  transform: scale(1.01);
  border: 2px solid rgb(240, 211, 94);
}
.card-cover {
  width: 100%;
  height: 50px;
}
.details {
  text-align: start;
  padding: 16px;
  /* height: 139px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.details-title {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: black;
}
.details-title2 {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: black;
}
.details-desc {
  font-size: 16px;
}
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #000 url(stars.png) repeat top center;
  width: 100vw;
}
.flex-column2 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  background: transparent;
  width: 100vw;
}
.pad-3 {
  padding: 3rem;
}
.pad-1 {
  padding: 1rem;
}
.footer-text{
  margin-bottom: 0;
  display: flex;
  gap: 8px;
  width: 100vw;
  justify-content: center;
}
.footer-quote{
  color: rgb(156,163,175);
  margin-bottom: 0;
  font-size: 16px;
  padding-left: 56px;
  padding-right: 56px;
  padding-bottom: 15px;
}
.flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-row2 {
  display: flex;
  align-items:flex-end;
  justify-content: flex-end;
}
.text-gray-600 a {
  text-decoration: none;
  color: white;
  margin: 0 0.5rem 0 0.5rem;
}
.text-gray2 a {
  font-weight: 900;
  color: white;
  margin: 0 0.5rem 0 -70.5rem;
}

.parentArdak {
  width: 100vw;
}

.planets-images {
  width: 500px;
}

.navbar {
  justify-content: flex-start;
  z-index: 3;
  display: flex;
  align-items: center;
  width: 100vw;
}

.logo-image{
  width: 50px;
  margin-right: 80vw;
}

/* RESPONSIVE CODE */

@media only screen and (max-width: 1024px) {
  .navbar {
    justify-content: flex-start;
    z-index: 3;
    display: flex;
    align-items: center;
    width: 100vw;
  }
  .logo-image{
    width: 50px;
    margin-right: -32vw;
  }
  

  .title h1 {
    font-size: 28px;
    padding: 16px;
  }
  .title h2 {
    font-size: 18px;
  }
  .title {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
  }
  .copy {
    font-size: 16px;
    line-height: 1.35;
    
  }
  
  div.scrollMenu {
    height: 75vh;
  }

  .planets-images {
    width: 200px;
  }
  
  .text {
    color: white;
    display: block;
    position: relative;
    z-index: 3;
    flex-direction: column;
  }
  
  div.scrollMenu div {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
  }

  .card {
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    width: 100%;
    height:100%;
    text-align: center;
    color: whitesmoke;
    background-color: transparent;
    scroll-snap-align: start;
  }

  .planetCanvas {
    justify-content: center;
    align-items: center;
  }
  @media (min-width: 600px) {
    .card {
      height: 600px;
    }
  }
  
  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transition: transform var(--d) var(--e);
    z-index: 1;
  }
  .content > * + * {
    margin-top: 1rem;
  }
  
  .btn {
    cursor: pointer;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
    border-radius: 15px;
  }
  .btn:hover {
    background-color: #0d0d0d;
  }
  .btn:focus {
    outline: 1px dashed yellow;
    outline-offset: 3px;
  }

  .row{
    display: flex;
  }
  .column{
    display: flex;
    flex-direction: column;
    color: white;
  }
  
  .example{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    height: 86vh;
  }
  
  .example2{
    width: 100vw;
    height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    display: inline-block;
  }
  
  
  .depth-line {
    position: sticky;
    bottom: 30%;
    width: 100%;
    border-bottom: 1px dashed hsla(0,0%,100%,.2);
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    transition: opacity .3s ease-in-out;
    top: 240px;
  }
  
  /* FACTORS: TEMPERATURE */
  .parentTemp {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 3;
    padding-top: 25px;
  }
  
  .temp {
    color: white;
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.5;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 100vw;
    margin-top: 50px;
  }
  .title2 p {
    color: black;
    font-size: 28px;
    font-weight: 100;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 32px;
  }
  .temp span {
    font-size: 32px;
    color: black;
    padding-left: 32px;
  }
  
  .message {
    background-color: pink;
    color: white;
    display: block;
    font-weight: 900;
    overflow: hidden;
    position: absolute;
    padding-left: 0.5rem;
    top: 0.2rem;
    left: 160px;
    animation: openclose 5s ease-in-out infinite;
  }
  
  @keyframes openclose {
    0% {
      top: 0.2rem;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      width: 210px;
    }
    30% {
      top: 0.2rem;
      width: 210px;
    }
    33% {
      top: 0.2rem;
      width: 0;
    }
    35% {
      top: 0.2rem;
      width: 0;
    }
    38% {
      top: -4.5rem;
      
    }
    48% {
      top: -4.5rem;
      width: 210px;
    }
    62% {
      top: -4.5rem;
      width: 210px;
    }
    66% {
      top: -4.5rem;
      width: 0;
      text-indent: 0;
    }
    71% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    86% {
      top: -9rem;
      width: 210px;
    }
    95% {
      top: -9rem;
      width: 210px;
    }
    98% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    100% {
      top: 0;
      width: 0;
      text-indent: 0;
    }
  }
  
  /* CARDS with PLANETS */
  
  .cards-stack {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 15px;
    padding: 16px;
  }
  .cards-stack2 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 0px;
    grid-row-gap: 16px;
    justify-content: center;
    align-items: center;
    padding-left: 32px;
    padding-right: 16px;
    }
  .details-desc {
    font-size: 16px;
  }
  .carD {
    overflow: hidden;
    box-shadow: rgba(201, 201, 201, 0.3) 0px 5px 15px 0px;
    display: block;
    transition: all 0.3s ease-out;
    border-radius: 18px;
    height: 64px;
    width: 112px;
  }
  .carD2 {
    overflow: hidden;
    box-shadow: rgba(201, 201, 201, 0.3) 0px 5px 15px 0px;
    display: block;
    transition: all 0.3s ease-out;
    border-radius: 18px;
    height: 200px;
    width: 155px;
  }
  .carD:hover {
    transform: scale(1.01);
    border: 1px solid rgb(36, 55, 73);
  }
  .carD2:hover {
    transform: scale(1.01);
    border: 2px solid rgb(240, 211, 94);
  }
  .card-cover {
    width: 100%;
    height: 50px;
  }
  .details {
    text-align: start;
    padding: 16px;
    /* height: 139px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .details-title {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: black;
  }
  .details-title2 {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: black;
  }
  .details-desc {
    font-size: 16px;
  }
  .flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #000 url(stars.png) repeat top center;
    width: 100vw;
  }
  .flex-column2 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    background: transparent;
    width: 100vw;
  }
  .pad-3 {
    padding: 3rem;
  }
  .pad-1 {
    padding: 1rem;
  }
  .footer-text{
    margin-bottom: 0;
    display: flex;
    width: 100vw;
    justify-content: center;
  }
  .footer-quote{
    color: rgb(156,163,175);
    margin-bottom: 0;
    font-size: 16px;
    padding-left: 56px;
    padding-right: 56px;
    padding-bottom: 15px;
  }
  .flex-row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flex-row2 {
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
  }
  .text-gray-600 a {
    text-decoration: none;
    color: white;
    margin: 0 0.5rem 0 0.5rem;
  }
  .text-gray2 a {
    font-weight: 900;
    color: white;
    margin: 0 0.5rem 0 8.5rem;
  }
  
  .parentArdak {
    width: 100vw;
  }
}



